<!-- templates/about/author.html -->
{% extends "base.html" %}
{% block title %}Об авторе проекта{% endblock %}
{% block content %}
<h3>Привет, это автор блога</h3>
<p>
  Родился в Ясной Поляне Тульской губернии. <br>
  Учился в Казанском университете. В 1851 году отправился на войну на Кавказ, где принялся за написание трилогии: 
  «Детство», «Отрочество», «Юность». <br>
  В 1862 женился на Софье Берс. <br>
  В течение первых 10−12 лет после женитьбы создал свои произведения, признанные впоследствии одними из величайших в мировой литературе.
</p>
{% endblock %}