<!-- templates/about/tech.html -->
{% extends "base.html" %}
{% block title %}Технологии{% endblock %}
{% block content %}
{% comment %} Колонки с отступом сверху и снизу {% endcomment %}
<div class="row">
  <h2>Вот что я умею</h2>
  <hr>
  <aside class="col-12 col-md-3">
    <ul class="list-group list-group-flush">
      <li class="list-group-item">
        Python
      </li>
      <li class="list-group-item">
        Django
      </li>
      <li class="list-group-item">
        Nginx
      </li>
      <li class="list-group-item">
        PostgreSQL
      </li>
    </ul>
  </aside>
  <article class="col-12 col-md-9">
    <p>При создании сайта были задействованы эти технологии. А еще есть API к нему)</p>
  </article>
</div>
{% endblock %}